* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #DC3F53;
}

#pantallaVestirPersonajes {
    height: 100vh;
    background: url('./img/rompecabezas_disfraz/fondo.png') center/cover no-repeat;
}

#pantallaInicio {
    display: grid;
    align-content: center;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

#pantallaInicio svg {
    height: 100vh;
}

#pantallaFinal {
    display: grid;
    align-content: center;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
}

#pantallaFinal svg {
    width: 90%;
}

.carousel-item {
    transition: transform .5s ease-in-out !important;
}

.Vestir-personajes {
    display: grid;
    align-content: center;
    justify-items: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: transparent;
}

.Vestir-personajes svg {
    width: 95%;
}

.carousel-control-next, .carousel-control-prev {
    opacity: 1 !important;
}

.invisible {
    fill: transparent;
}

.transition {
    transition: all 300ms;
}

.container {
    display: grid;
    align-content: center;
    justify-items: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0;
    background-image: url(img/rompecabezas_disfraz/);
}

.container svg {
    height: 100vh;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
  
    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
}
  
.fadeIn {
    animation-name: fadeIn;
    animation-duration: 1s;
}

.fadeInUp {
    animation-name: fadeInUp;
    animation-duration: 1s;
}